<div class="users-list">
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <%= render 'shared/user_profile', user: user %>
    <% end %>
  <% end %>
  <%= link_to 'Create new post', new_user_post_path(current_user) %>
</div>