<h1>New Comment</h1>

<div id="form_errors">
     <!-- Errors will be displayed here -->
<div>
<%= form_with model: [user, post, comment], url: user_post_comments_path(user, post), local: true do |form| %>
  <div>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </div>

  <%= form.submit "Add comment" %>
<% end %>