<div class="user-details">
  <div class="user-photo">
    <img src="<%= user.photo %>" alt="profile picture">
  </div>
  <h1><%= user.name %></h1>
  <p>Number of posts: <%= user.posts_counter %></p>
</div>

